/* Fonts */
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/space-grotesk-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/space-grotesk-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/space-grotesk-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Scrollbar: Dark */
.dark ::-webkit-scrollbar-track {
  background-color: #262626;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 12px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #daff01;
}

/* Scrollbar: Light */
.light ::-webkit-scrollbar-track {
  background-color: #e5e5e5;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.light ::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 12px;
}

.light ::-webkit-scrollbar-thumb:hover {
  background-color: #262626;
}

@layer components {
  
  /* Main */
  .content__wrapper {
    @apply max-w-screen-lg flex flex-col lg:mx-auto lg:my-auto;
  }

  .styles {
    @apply text text__base bg-neutral-100 dark:bg-neutral-900 selection:bg-neutral-500 selection:text-chartreuse-400 dark:selection:bg-chartreuse-400 dark:selection:text-neutral-800;
  }

  .box {
    @apply bg-neutral-200 hover:bg-neutral-300 dark:bg-neutral-800 dark:hover:bg-neutral-700 rounded-xl p-4 hover:transition-all duration-300;
  }

  .hr {
		@apply w-5/6 h-1 mx-auto border-0 rounded bg-neutral-200 dark:bg-neutral-700;
	}

  /* Text */
  .text {
    @apply font-body text-base leading-5;
  }

  .text__base {
    @apply font-normal text-neutral-700 dark:text-neutral-300;
  }

  .text__medium {
    @apply font-medium text-neutral-800 dark:text-neutral-200;
  }

  .text__bold {
    @apply font-bold text-neutral-900 dark:text-neutral-100;
  }

  /* Icon */
  .icon {
    @apply w-4 h-4;
  }

  /* Form */
  .form {
    @apply space-y-4;
  }

  .form__label {
    @apply block w-full space-y-2;
  }

  .form__input {
    @apply bg-neutral-200 dark:bg-neutral-800 hover:bg-neutral-300 dark:hover:bg-neutral-700 focus:bg-neutral-300 dark:focus:bg-neutral-700 placeholder:text-neutral-600 w-full rounded-xl focus:outline-none focus:ring focus:ring-chartreuse-400;
  }

  .form__input--text {
    @apply h-10 p-4;
  }

  .form__input--textarea {
    @apply  h-40 p-4;
  }

  .form__input-file {
		@apply block w-full file:mr-4 file:h-10 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-neutral-100 file:text-chartreuse-400 hover:file:bg-neutral-200;
	}

  /* Section */
  .section {
    @apply space-y-4;
  }

  .section__title {
    @apply text-3xl font-bold text-neutral-800 dark:text-chartreuse-400;
  }

  .intro {
    @apply h-[640px] rounded-xl p-4;
  }

  /* Project */  
  .project__grid {
    @apply box grid grid-cols-1 sm:grid-cols-2 gap-4;
  }

  .project__img {
    @apply rounded-xl overflow-hidden h-60;
  }

  /* Experience */  
  .experience__grid {
    @apply box rounded-xl p-4 grid grid-cols-3 gap-4;
  }

  /* Bookmark */
  .bookmark {
    @apply grid grid-cols-3 gap-2;
  }
  
  .bookmark__wrapper {
    @apply box p-2 rounded-xl w-full h-full;
  }

  /* Sidebar */
  .sidebar {
    @apply sticky top-14 flex flex-col z-0 w-0 sm:w-64 h-[640px] transition-transform duration-300 -translate-x-full sm:translate-x-0 bg-neutral-100 dark:bg-neutral-900 sm:p-4;
  }

  .sidebar__avatar {
    @apply w-full h-full rounded-full;
  }

  .sidebar__nav {
    @apply overflow-y-auto overflow-x-hidden;
  }

  .sidebar__link {
    @apply flex px-4 py-2 font-medium hover:font-bold hover:bg-neutral-200 dark:hover:bg-neutral-800 dark:hover:text-chartreuse-400 items-center space-x-4 rounded-xl;
  }
  
  .sidebar__link--active {
    @apply flex items-center space-x-2 rounded-xl px-2 py-1 text-chartreuse-400 font-bold bg-neutral-800;
  }

  /* Navbar */  
  .navbar {
    @apply max-w-screen-lg mx-auto bg-neutral-100 dark:bg-neutral-900 sticky top-0 z-50 p-4;
  }

  .navbar__content {
    @apply flex items-center justify-between;
  }

  /* Btn */
  .btn {
    @apply text__bold flex items-center justify-center px-4 h-10 rounded-xl;
  }

  .btn--primary {
    @apply bg-neutral-800 hover:bg-neutral-700 dark:bg-chartreuse-400 text-chartreuse-400 dark:hover:bg-chartreuse-300 dark:text-neutral-900;
  }

  .btn--secondary {
    @apply bg-neutral-200 hover:bg-neutral-300 dark:bg-neutral-800 dark:hover:bg-neutral-700 outline-none;
  }

  /* Skill */
  .skill {
    @apply p-4;
  }
  
  .skill__grid {
    @apply grid grid-cols-4 sm:grid-cols-6 md:grid-cols-5 lg:grid-cols-6 gap-4;
  }

  .skill__icon {
    @apply w-12 h-12;
  }

  .skill__name {
    @apply p-4;
  }

  /* Animations [hover-scale transform hover:scale-105] */
    /* ease-in-out duration-200 hover:translate-x-2 */
  .hover-scale {
    transition: transform 0.3s ease;
  }
}
