{% extends 'layouts/base.html' %}{% load static %}

{% block title %}Landing{% endblock %}

{% block content %}

<!-- About -->
<section class="section">
  <h2 class="section__title">About</h2>
  <article class="box">
    <h3 class="text__bold">Hi my name is {{ portfolio.full_name }}</h3>
    <p>{{ portfolio.about_me }}</p>
  </article>
</section>

<!-- Projects -->
<section class="section pt-12" id="projects-section">
  <h2 class="section__title">Projects</h2>
  {% for project in projects %}
  <article class="grid grid-cols-2 gap-4 box p-4">
    <figure class="bg-chartreuse-400 rounded-xl w-full h-full">
      <img src="{{ project.image.url }}" alt="{{ project.title }}" class="rounded-xl">
    </figure>
    <div>
      <h3 class="text__bold">{{ project.title }}</h3>
      <span class="block">{{ project.description }}</span>
      <span class="block">{{ project.repository }}</span>
      <span class="block">{{ project.website }}</span>
    </div>
  </article>
  {% endfor %}
</section>

<!-- Experiences -->
<section class="section pt-12" id="experiences-section">
  <h2 class="section__title">Experiences</h2>
  {% for experience in experiences %}
  <article class="bg-neutral-800 rounded-xl p-4 grid grid-cols-3 gap-4">
    <div>
      <span>
        {{ experience.start_date|date:"M Y" }} - {{ experience.end_date|date:"M Y" }}
      </span>
    </div>
    <div class="col-span-2 space-y-4">
      <div>
        <h3 class="text__bold">{{ experience.job_title }}</h3>
        <span class="block text-neutral-500 text__medium">{{ experience.company }}</span>
      </div>
      <p>{{ experience.description }}</p>
      <span class="block text-neutral-500">{{ experience.skill_id.name }}</span>
    </div>  
  </article>
  {% endfor %}
</section>

<!-- Skills -->
<section class="section pt-12" id="skills-section">
  <h2 class="section__title">Skills</h2>
  <section class="skill__grid">
    {% for skill in skills %}
    <article class="skill group">
      {{ skill.icon|safe }}
      <span class="skill__name">{{ skill.name }}</span>
    </article>
    {% endfor %}
  </section>
</section>

<!-- Contact -->
<section class="section pt-12" id="contact-section">
  <h2 class="section__title">Contact</h2>
  <form method="post" action="{% url 'home:landing_view' %}" class="space-y-4">{% csrf_token %}
    {% if success_message %}
      <div class="bg-green-200 p-3 mb-4 rounded">
          {{ success_message }}
      </div>
    {% endif %}
    <div class="form__group">
      <label for="user" class="text__bold">Your Name:</label>
      {{ form.name }}
    </div>
    <div class="form__group">
      <label for="email" class="text__bold">Your Email:</label>
      {{ form.email }}
    </div>
    <div class="form__group">
      <label for="message" class="text__bold">Your Phone Number:</label>
      {{ form.phone_number }}
    </div>
    <div class="form__group">
      <label for="message" class="text__bold">Your Message:</label>
      {{ form.message }}
    </div>
    <button type="submit" class="btn btn__primary">Send</button>
  </form>
</section>

{% endblock %}