{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="container styles">
  
  <!-- SIDEBAR -->
  {% include 'includes/sidebar.html' %}

  <!-- MAIN CONTENT -->
  <main class="sm:ml-64 space-y-20 p-4">
    {% block content %}{% endblock content %}
  </main>

  <!-- JS FILES -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>