{% if request.path == '/' %}
<section class="intro">
<div class="flex justify-center h-96">
  <div>Tyrone José</div>
  <a href="{% url 'home:landing_view' %}#about-section" class="btn btn--primary">View CV</a>
</div>

<div class="mt-auto flex flex-col items-center">
  <span class="relative flex h-3 w-3">
    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
    <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
  </span>
  <span class="block">Scroll down</span>
</div>
</section>
{% endif %}