{% extends 'layouts/base.html' %}{% load i18n %}
{% block title %}{% translate "Bookmarks" %}{% endblock %}
{% block content %}

<section class="section">
  <h2 class="section__title">{% translate "Bookmarks" %}</h2>
  <!-- Search Bar -->  
  <div class="relative">
    <form method="GET" action="{% url 'bookmarks:search' %}">
      <input type="search" id="search-navbar"
        class="form__input-text text-center focus:text-left focus:pl-12"
        placeholder="What topic are you interested in?" name="search" value="{{ request.GET.search }}">
      <div class="absolute rounded-full inset-y-0 left-0 p-4 flex items-center pointer-events-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon--sm">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
      </div>
    </form>
  </div>
  <!-- Filter -->
  <details class="bg-neutral-200 hover:bg-neutral-300 dark:bg-neutral-800 dark:hover:bg-neutral-700 cursor-pointer select-none rounded-xl">
    <summary class="text__bold p-4">Filters</summary>
    <form method="get" action="{% url 'bookmarks:bookmark_list' %}" class="box space-y-2">
      {% for tag in tags %}
      <label class="flex">
        <input
          type="checkbox"
          class="w-4 h-4 accent-neutral-800 hover:accent-neutral-600 dark:accent-chartreuse-400 dark:hover:accent-chartreuse-300"
          name="tags"
          value="{{ tag.id }}"
          {% if tag.id|stringformat:"s" in selected_tags %}checked{% endif %} >
        <span class="ml-2">{{ tag.name }} ({{ tag.id }})</span>
      </label>
      {% endfor %}
      <button type="submit" class="btn btn--primary w-full">Apply</button>
    </form>
  </details>
  <!-- Bookmarks -->
  <section class="bookmark">
    {% for bookmark in bookmarks %}
    <article class="bookmark__wrapper">
      <a href="{{ bookmark.website }}" target="_blank" class="section">
        <img src="{{ bookmark.image.url }}" alt="{{ bookmark.name }}" class="rounded-lg">
        <span class="text__bold block">{{ bookmark.name }}</span>
        {% for tag in bookmark.tags.all %}
        <span class="text-xs p-1 bg-chartreuse-400 text-neutral-800 rounded">{{ tag.id }}</span>
        {% endfor %}
      </a>
    </article>
    {% endfor %}
  </section>

</section>

{% endblock %}