{% extends 'layouts/base.html' %}{% load i18n %}
{% block title %}{% translate "Bookmarks" %}{% endblock %}
{% block content %}

<section class="section">
  <!-- Search Bar -->  
  <div class="relative">
    <form method="GET" action="{% url 'bookmarks:search' %}">
      <input type="search" id="search-navbar"
        class="form__input-text text-center focus:text-left focus:pl-12"
        placeholder="What topic are you interested in?" name="search" value="{{ request.GET.search }}">
      <div class="absolute rounded-full inset-y-0 left-0 p-4 flex items-center pointer-events-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon--sm">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
      </div>
    </form>
  </div>

  <!-- Bookmarks -->
  <h2 class="section__title">{% translate "Bookmarks" %}</h2>
  <section class="bookmark">
    {% for bookmark in bookmarks %}
    <article class="bookmark__wrapper">
      <a href="{{ bookmark.website }}" target="_blank" class="section">
        <img src="{{ bookmark.image.url }}" alt="{{ bookmark.name }}" class="rounded-lg" loading="lazy">
        <div class="px-2 pb-2 space-y-4">
          <p class="text__bold block">{{ bookmark.name }}</p>
          <div>
            {% for tag in bookmark.tags.all %}
            <span class="text-xs p-1 bg-chartreuse-400 text-neutral-800 rounded">{{ tag.name }}</span>
            {% endfor %}
          </div>
        </div>
      </a>
    </article>
    {% endfor %}
  </section>
</section>

{% endblock %}