{% extends 'layouts/base.html' %}{% load i18n %}

{% block title %}{% translate "Bookmarks" %}{% endblock %}

{% block content %}

<section class="section">
  <h2 class="section__title">{% translate "Bookmarks" %}</h2>
  <nav class="box"></nav>
  {% for bookmark in bookmarks %}
  <section class="grid grid-cols-3 gap-2">
    <article class="bg-neutral-800 p-2 rounded-xl w-full h-52">
      <a href="{{ bookmark.website }}" target="_blank" class="space-y-4">
        <img src="{{ bookmark.image.url }}" alt="{{ bookmark.name }}" class="rounded-lg">
        <span class="text__bold block">{{ bookmark.name }}</span>
        <span class="text-xs p-1 bg-slate-600 rounded">Tags</span>
        <span class="text-xs p-1 bg-slate-600 rounded">Tags</span>
      </a>
    </article>
  </section>
  {% endfor %}
</section>

{% endblock %}