{% extends 'layouts/base.html' %}{% load static i18n %}
{% block title %}{% translate "Portfolio" %}{% endblock %}
{% block content %}
<!-- About -->
<section class="section" id="about-section">
  <h2><span class="section__title">{% translate "About" %}</span></h2>
  <article class="box">
    <h3 class="text__bold">{% translate "Hi my name is " %}{{ portfolio.full_name }}</h3>
    <p>{{ portfolio.about_me }}</p>
  </article>
</section>
<!-- Projects -->
<section class="section" id="projects-section">
  <h2><span class="section__title">{% translate "Projects" %}</span></h2>
  {% for project in projects %}
  <article class="project__grid">
    <figure class="project__img">
      <img src="{{ project.image.url }}" alt="{{ project.title }}" class="object-cover w-full h-full">
    </figure>
    <div class="overflow-x-clip">
      <h3 class="text__bold">{{ project.title }}</h3>
      <span class="block">{{ project.description }}</span>
      <span class="block">{{ project.repository }}</span>
      <span class="block">{{ project.website }}</span>
    </div>
  </article>
  {% endfor %}
</section>
<!-- Experiences -->
<section class="section" id="experiences-section">
  <h2><span class="section__title">{% translate "Experiences" %}</span></h2>
  {% for experience in experiences %}
  <article class="experience__grid">
    <div>
      <span>
        {{ experience.start_date|date:"M Y" }} - {{ experience.end_date|date:"M Y" }}
      </span>
    </div>
    <div class="col-span-2 space-y-4">
      <div>
        <h3 class="text__bold">{{ experience.job_title }}</h3>
        <span class="block text-neutral-500 text__medium">{{ experience.company }}</span>
      </div>
      <p>{{ experience.description }}</p>
      <span class="block text-neutral-500">{{ experience.skill_id.name }}</span>
    </div>  
  </article>
  {% endfor %}
</section>
<!-- Skills -->
<section class="section" id="skills-section">
  <h2><span class="section__title">{% translate "Skills" %}</span></h2>
  <section class="skill__grid">
    {% for skill in skills %}
    <article class="p-4 h-28 flex flex-col justify-center items-center bg-neutral-200 dark:bg-neutral-800 hover:bg-chartreuse-400 hover:text-neutral-900 rounded-xl hover-scale transform hover:scale-105 group space-y-2">
      {{ skill.icon|safe }}
      <span class="text-xs font-bold">{{ skill.name }}</span>
    </article>
    {% endfor %}
  </section>
</section>
<!-- Contact -->
<section class="section" id="contact-section">
  <h2><span class="section__title">{% translate "Contact" %}</span></h2>
  <form method="POST" action="{% url 'home:landing_view' %}" class="form">{% csrf_token %}
    <label class="form__label">
      <p class="text__bold">{% translate "Name:" %}</p>
      {{ contact_form.name }}
    </label>
    <label class="form__label">
      <p class="text__bold">{% translate "Email:" %}</p>
      {{ contact_form.email }}
    </label>
    <label class="form__label">
      <p class="text__bold">{% translate "Message:" %}</p>
      {{ contact_form.message }}
    </label>
    <div class="flex space-x-4">
      <button type="reset" class="btn btn--secondary w-full">{% translate "Clear Form" %}</button>
      <button type="submit" class="btn btn--primary w-full">{% translate "Send Message" %}</button>
    </div>
  </form>
  <!-- Notification -->
  {% if request.GET.success_message %}
  <div id="pushNotification" class="fixed top-4 right-8 z-20 w-full max-w-xs p-4 bg-white rounded-xl shadow-lg dark:bg-neutral-700 transition-opacity duration-200 ease-out" role="alert">
    <div class="flex items-center mb-4">
      <span class="text__bold">Notification</span>
      <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white justify-center items-center flex-shrink-0 text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-neutral-800 dark:bg-chartreuse-400 dark:hover:bg-chartreuse-500" data-dismiss-target="#toast-notification" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
    <div class="flex items-center">
      <div class="ms-3">
        <div class="text-sm">{{ request.GET.success_message }}</div>
      </div>
    </div>
  </div>
  {% endif %}

</section>
{% endblock %}